<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WCTAllFunctionText.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1CE4505F1C9A9E270061B488</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CE450781C9A9E270061B488</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CE450831C9A9E270061B488</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
